<footer>
  <p style="text-align:center">
    &copy; Elliot Nelson ·
    Built with <a href="https://www.11ty.dev/">Eleventy</a> using the <a href="https://github.com/philhawksworth/eleventyone">EleventyOne</a> starter theme <br>
    Hosted on <a href="https://www.netlify.com/">Netlify</a> ·
    Source on <a href="https://github.com/elliot-nelson/">GitHub</a> ·
    Generated {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
  </p>
  <p style="margin-top:32px">
    <a href="/" title="7 ton shark">
      <img src="/images/7tonshark.png" height="128px" title="7 ton shark" style="margin-left:auto;margin-right:auto;display:block;opacity:0.75">
    </a>
  </p>
</footer>
