<footer>
  {%- for post in collections.post -%}
    {%- if page.url === post.url -%}
      {%- if post.data.tweets -%}
        <i style="text-align:center;display:block">Reply, retweet, or message me directly on Twitter:</i>
        {%- for tweet_id in post.data.tweets -%}
          {% tweet tweet_id %}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  <p style="text-align:center">
    &copy; Elliot Nelson ·
    Built with <a href="https://www.11ty.dev/">Eleventy</a> using the <a href="https://github.com/philhawksworth/eleventyone">EleventyOne</a> starter theme <br>
    Hosted on <a href="https://www.netlify.com/">Netlify</a> ·
    Source on <a href="https://github.com/elliot-nelson/7tonshark">GitHub</a> ·
    Generated {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
  </p>
  <p style="margin-top:32px">
    <a href="/" title="7 ton shark">
      <img src="/images/7tonshark.png" height="128px" title="7 ton shark" style="margin-left:auto;margin-right:auto;display:block;opacity:0.75">
    </a>
  </p>
</footer>
