<header>
  <ul class="nav">
    <li>
      <a href="/">home<small>7 ton shark</small></a>
    </li>
    <li>
      <a href="/posts">posts<small>all the posts</small></a>
    </li>
    <li>
      <a href="/about">about<small>about me</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
