$color-background = #f0f0f0
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = #666
$color-link = rgba(128, 170, 212, 1)
$color-text = #333333
$color-accent-3 = #666666
$color-accent-2 = #111111
$color-accent-1 = rgba(0, 160, 210, 1)
$color-quote = #ccffb6
$highlight = hexo-config("highlight") || "rainbow"
