/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$page-color: #2424bb;
$text-color: #fff;
$accent-color: #27a4de;
$dark-color: #000;


$page-color: #ffc3a0;
$accent-color: #ffafbd;
$text-color: #202020;

$accent-color: #009ffd;
$page-color: #2a2a72;
$text-color: #f3f3f3;

/*
$page-color: #36d1dc;
$accent-color: #5b86e5;

$accent-color: #27a4de;*/
